body{
    background-color: #f5f7fA;
    font-family: 'Montserrat', Arial, Helvetica, sans-serif ;
}
li{
    line-height: 24px;
}

/***********************/
/* Contenido Principal */
/***********************/

.contenedor-principal{
    display: flex;
    flex-direction: row;
    background-color: white;
    width: 1200px;
    margin: 40px auto;
}


.primer-elemento-lista{
    background-color: #b9fb69;
}

/***********************/
/* Informacion general */
/***********************/

.informacion-general{
    padding: 100px 88px;
}

/* contenido */

.nombre{
    font-style: normal;
    font-weight: 700;
    font-size: 45px;
    line-height: 55px;
    margin-top: 20px;
    margin-bottom: 25px;
}

.texto-descripcion{
    width: 400px;
}

.descripcion {
    /* background-color: #a1b4d1; */
    /* margin-top: 40px; */
    margin-bottom: 40px;
    /* margin-left: 40px; */
    /* margin-right: 40px; */
}

.descripcion-profesion{
    font-size: 14px;
    font-weight: 700;
}

/* Secciones principales */

.titulo-seccion-principal{
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 27px;
    margin-top: 45px;
}

.lista-proyectos{
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 24px;
    color: #595959;
    /* background-color: #a1b4d1; */
    text-shadow: 0px 4px 4px rgba(0,0,0,25);
}

.enlaces-proyectos{
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;

}

.experiencia-laboral{
    /* background-color: #d1cda1; */
}

.educacion{
    /* background-color: #a1d1b0; */
}

/***********************/
/* Informacion lateral */
/***********************/

.informacion-lateral{
    background-color: #1E2939;
    padding: 40px 0;
}

.titulo-lateral{
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 27px;
    color: white;
    margin-top: 50px;
}

.contactos, .habilidades-tecnicas, .habilidades-blandas{
    margin-left: 40px;
}   

/***********************/
/*  Seccion contactos  */
/***********************/

.tipo-contacto{
    color: white;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 24px;
    margin-right: 5px;
}

.contacto-info{
    color: lightgrey;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
}

/***********************/
/*   Seccio de lista   */
/***********************/

.lista-lateral{
    padding: 0;
    padding-left: 17px;
    color: white;
}

.lista-lateral > li{
    color: #fb6e3a;
}

.elemento-lista-lateral{
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: white;
}
